/* P02 les 5 en 6 */
nav{
    display: flex;
    background-color: pink;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.link:hover{
    background-color: yellow;
    align-self: flex-end;
}

.flex-direction{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: orange;
}

/* p02 les 7 */
.flex-direction div{
    background-color: red;
    width: 50px;
    height: 50px;
}

footer{
    background-color: blue;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
