.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 300px 200px 100px;
    grid-template-areas: 
    "hd hd hd"
    "ru im ."
    ". bt ."
    "ft ft ft"
    ;
}

header{
    grid-area: hd;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    grid-area: ru;
}

img{
    grid-area: im;
}

button{
    grid-area: bt;
}

footer{
    grid-area: ft;
    background-color: red;
}