/* Les 8: CSS variabelen
:root {
    --primary-color: orange;
    --defualt-border: 2px solid red;
}

/* Les 6: Psuedo classes en combinators */
/* nav>a {
    background-color: cyan;
    color: red;
}

nav>a:visited {
    color: green;
}

nav>a:hover {
    background-color: red;
    color: cyan;
}

#different-nav-link {
    color: black;
    background-color: cyan;
}

p,
img {
    border: 2px solid black;
} */

/* Les 3: CSS koppeling */
/* #logo {
    height: 50px;
} */

/* Les 4: BOX-Model */
/* .first-p {
    color: #000000;
    background-color: var(--primary-color);
    font-size: 0.9em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    padding: 10px;
} */

/* .border {
    border: var(--defualt-border);
} */

/* Les 10: Grid placement */
/* #wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 100px 300px 100px;
}

header{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    background-color: aqua;
    text-align: center;
}

nav{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    background-color: blue;
    text-align: center;
}

aside{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    background-color: lightgreen;
    text-align: center;
}

main{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    background-color: orange;
    text-align: center;
}

#overlay{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    z-index: 1;
}

footer{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    background-color: purple;
    text-align: center;
} */

/* Les 11: Grid area, Gap */
/* #wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 100px 300px 100px;
    grid-template-areas:
        "hd hd"
        "nv as"
        "mn as"
        "ft as"
    ;
    gap: 5px;
}

header {
    grid-area: hd;
    background-color: aqua;
    text-align: center;
}

nav {
    grid-area: nv;
    background-color: blue;
    text-align: center;
}

main {
    grid-area: mn;
    background-color: orange;
    text-align: center;
}

#overlay {
     grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3; 
    grid-area: 3/1/4/3;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    z-index: 1;
}

aside {
    grid-area: as;
    background-color: lightgreen;
    text-align: center;
}

footer {
    grid-area: ft;
    background-color: purple;
    text-align: center;
} */

/* les 13: Mobile first */
/* p{
    font-size: 3em;
    margin-left: 50px;
    margin-right: 50px;
    color: blue;
}

ul{
    margin: 50px;
}

li{
    font-size: 3em;
}

table{
    margin: 50px;
}

td, th{
    font-size: 3em;
}

@media screen and (min-width: 769px) {
    p{
        font-size: 2em;
        margin-left: 200px;
        margin-right: 200px;
    }
    
}

@media screen and (min-width: 1024px) {
    p{
        font-size: 1em;
        margin-left: 400px;
        margin-right: 400px;
        color: red;
    }
} */

/* Les 14: Media queries + Grid */
#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 300px 200px 100px;
    grid-template-areas:
        'hd'
        'nv'
        'mn'
        'as'
        'ft'
    ;
}

header {
    grid-area: hd;
    background-color: aqua;
    text-align: center;
}

nav {
    grid-area: nv;
    background-color: blue;
    text-align: center;
}

a {
    color: white;
}

main {
    grid-area: mn;
    background-color: orange;
    text-align: center;
}

#overlay {
    grid-area: 3 / 1 / 5 / 2;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 1;
}

aside {
    grid-area: as;
    background-color: lightgreen;
    text-align: center;
}

footer {
    grid-area: ft;
    background-color: purple;
    text-align: center;
}

@media screen and (min-width: 600px) {
    #wrapper {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 100px 100px 400px 100px;
        grid-template-areas:
            'hd hd'
            'nv nv'
            'mn as'
            'ft ft'
        ;
    }

    #overlay{
        grid-area: 3 / 1 / 4 / 3;
    }
}

@media screen and (min-width: 900px) {
    #wrapper {
        grid-template-columns: 1fr 7fr 1fr 3fr 1fr;
        grid-template-areas:
            'hd hd hd hd hd'
            'nv nv nv nv nv'
            '. mn . as .'
            'ft ft ft ft ft'
        ;
    }

    #overlay{
        grid-area: 3 / 2 / 4 / 5;
    }
}

form{
    margin-bottom: 50px;
}