:root {
    color-scheme: light dark;
    --bg-color: light-dark(rgb(200, 200, 200), rgb(50, 50, 50));
    --text-color: light-dark(rgb(0, 0, 0), rgb(200, 200, 200));
}

/* P02 les 11 */
.transform {
    width: 80px;
    height: 80px;
    background-color: green;
    /* P02 les 12 */
    transition: transform 1s, width 5s;
    transition-timing-function: ease-in;
    transition-delay: 5s;
    /* display: grid; */
    /* transform-style: preserve-3d; */
    transform-origin: top left;
}

.transform:hover {
    width: 300px;
    transform: rotate(20deg) skewX(20deg) scale(2);
    /* transform: rotateY(180deg); */
}

/* .front,
.back {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.front {
    background-color: green;
    grid-area: 1/1/2/2;
    backface-visibility: hidden;
}

.back {
    background-color: orange;
    grid-area: 1/1/2/2;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* P02 les 12 */

.gradient {
    padding: 80px;
    width: 700px;
    height: 500px;
    /* border-image: linear-gradient(91deg, blue, lightgreen, darkblue, purple); */
    border: solid;  
    border-image: linear-gradient(to top, red, blue) 1 /10px;
    /* background: radial-gradient(circle, blue, lightgreen, darkblue, purple); */
    /* background: conic-gradient(blue 75deg, lightgreen, darkblue, purple); */
}

.light-dark {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* P02 les 12 */
button{
    background-color: rgba(255, 0, 0, 1);
    transition: background-color 500ms;
}

button:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

